.logo {
  font-size: clamp(60px, 5vw, 80px);
  font-weight: 200;
  width: auto;
  border: 5px dashed var(--dark);
  border-radius: 100%;
  width: clamp(90px, 9vw, 124px);
  height: clamp(90px, 9vw, 124px);
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: inline-block;

    &:first-child {
      margin-right: -0.28em;
      transform: rotate(180deg);
    }
  }
}
