.logo {
  font-size: clamp(60px, 5vw, 80px);
  font-weight: 200;
  width: auto;
  border: 5px solid var(--dark);
  border-top-color: var(--purple);
  border-right-color: var(--green);
  border-bottom-color: var(--pink);
  border-left-color: var(--red);
  border-radius: 50px;
  width: clamp(90px, 9vw, 130px);
  height: clamp(90px, 9vw, 130px);
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: inline-block;

    &:first-child {
      margin-right: -0.28em;
      transform: rotate(180deg);
    }
  }
}
