@import url('./reset.css');
@import url('./keyframes.css');
@import url('./logo.css');
@import url('./contact-links.css');
@import url('./nav.css');
@import url('./topbar.css');
@import url('./carousel.css');
@import url('./work.css');
@import url('./theme.css');

:root {
  font-family: Rubik, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: var(--font-resp);
  letter-spacing: var(--letter-spacing);
  color: --dark;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --letter-spacing: normal;
  --font-resp-rng-lg: clamp(14px, 1.2vw, 20px);
  --font-resp: clamp(18px, 1.2vw, 20px);
  --font-resp-sm: clamp(16px, 1.2vw, 18px);
  --font-resp-xs: clamp(14px, 1.2vw, 16px);
  --font-resp-xxs: clamp(10px, 1.2vw, 12px);

  @media (min-width: 569px) {
    --letter-spacing: 0.02em;
  }

  --light: ghostwhite;
  --dark: black;

  --pink: #C850C0;
  --blue: #4158D0;
  --red: #ff5d46;
  --purple: #B721FF;
  --green: #08AEEA;

  --pink-gradient: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --red-gradient: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  --purple-gradient: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  --green-gradient: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  --light-gradient: linear-gradient(0deg, ghostwhite 0%, rgb(241, 241, 241) 100%);
  --content-color: ghostwhite; 
  --underline: var(--dark);
  --dot-gradient: var(--dark);
}

body {
  margin: 0;
}

html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color: var(--dark);
}

ul {
  list-style: none;
  padding: 0;
}

main {
  padding: 0;
}

button { 
  background: transparent;
  text-transform: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  letter-spacing: var(--letter-spacing);
}

.rotate {
  animation: rotate 20s linear infinite; 
}

.stack-content {
  flex-direction: column;
}

.intro-animation-fade {
  opacity: 0;

  &.trigger-animation {
    animation: fade-in 1s ease-out;
    animation-fill-mode: forwards;
  }
}

.intro-animation-scale {

  transform: scale(0.9);

  &.trigger-animation {
    animation: scale-in-minor 0.4s linear;
    animation-fill-mode: forwards;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  border: 2px solid var(--underline);
  border-radius: 100%;
  text-indent: -10000px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-in 0.5s linear;

  span {
    border-top: 3px solid var(--underline);
    border-left: 3px solid var(--underline);
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    margin-top: 6px;
    position: relative;
    display: block;
  }
}

.link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  .link-icon {
    width: 40px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.link-disable {
  pointer-events: none;
  touch-action: none;
  opacity: 0.5;
}

.dot-grid {
  &::after {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    content: '';
    height: 48px;
    width: 48px;
    background-image: radial-gradient(var(--dot-gradient) 30%, transparent 40%);
    background-position: 0 0;
    background-size: 6px 6px;
    z-index: 1;
    transition: height 0.25s ease-out;
  }
}

.screen-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: var(--light-gradient);
  color: var(--dark);
  overflow-x: hidden;

  .logo {
    border-color: var(--underline);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

.container-full {
  max-width: 1920px;
  width: calc(100vw - 80px);
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

.half-width {
  width: 50%;
  border-right: 2px dotted var(--underline);
  padding-right: 20px;
}

.three-quarter-width {
  width: 75%;
  border-right: 2px dotted var(--underline);
  padding-right: 20px;
}

.underline {
  border-bottom: 1px solid var(--underline);
}

.blurred-image-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(36px) contrast(1.5) opacity(0.8);
  -o-filter: blur(36px) contrast(1.5) opacity(0.8);
  filter: blur(36px) contrast(1.5) opacity(0.8);
  z-index: -1;
  opacity: 0.8;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.image-contain {
  object-fit: contain !important;
}

.underline-thick {
  border-bottom: 2px solid var(--underline);
}

.content-section {
  opacity: 0;
  padding: clamp(20px, 2.5vw, 40px) 20px clamp(20px, 2.5vw, 40px) 20px;
  animation: fade-in 0.5s ease-out;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.content-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container-inline {
  width: 25%;

  .logo {
    margin: 0 0 0 auto;

    @media (min-width: 569px) {
      margin: 0 auto;
    }
  }
}

.no-padding-bottom {
  padding-bottom: 0;
}

.text-heading {
  font-size: clamp(25px, 3vw, 50px);
  font-weight: bold;
}

.text-subheading {
  font-size: clamp(20px, 1.9vw, 30px);
}

.font-serif {
  font-family: 'Young Serif';
}

.font-small {
  font-size: var(--font-resp-sm);
}

.font-xsmall {
  font-size: var(--font-resp-xs);
}

.font-xxsmall {
  font-size: var(--font-resp-xxs);
}

.spacer { 
  --spacer-value: 40px;
  padding-bottom: var(--spacer-value);
}

.spacer-zero {
  --spacer-value: 0;
  padding-bottom: var(--spacer-value);
}

.spacer-lg {
  --spacer-value: 80px;
  padding-bottom: var(--spacer-value);
}
.spacer-sm {
  --spacer-value: 20px;
  padding-bottom: var(--spacer-value);
 }

 .margin { 
  --margin-value: 40px;
  margin-bottom: var(--margin-value);
}

.margin-zero {
  --margin-value: 0;
  margin-bottom: var(--margin-value);
}

.margin-lg {
  --margin-value: 80px;
  margin-bottom: var(--margin-value);
}
.margin-sm {
  --margin-value: 20px;
  margin-bottom: var(--margin-value);
 }