@import url('./reset.css');
@import url('./keyframes.css');
@import url('./logo.css');
@import url('./contact-links.css');
@import url('./nav.css');
@import url('./topbar.css');
@import url('./carousel.css');
@import url('./work.css');
@import url('./theme.css');

:root {
  font-family: Rubik, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: var(--font-resp);
  letter-spacing: var(--letter-spacing);

  /* color-scheme: light dark; */
  color: --dark;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --letter-spacing: 0.05em;
  --font-resp-rng-lg: clamp(14px, 1.2vw, 20px);
  --font-resp: clamp(18px, 1.2vw, 20px);
  --font-resp-sm: clamp(16px, 1.2vw, 18px);
  --font-resp-xs: clamp(14px, 1.2vw, 16px);

  --light: ghostwhite;
  --dark: black;

  --pink: #C850C0;
  --blue: #4158D0;
  --red: #ff5d46;
  --purple: #B721FF;
  --green: #08AEEA;

  --pink-gradient: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --red-gradient: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  --purple-gradient: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  --green-gradient: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  --light-gradient: linear-gradient(0deg, ghostwhite 0%, rgb(241, 241, 241) 100%);
  --content-color: ghostwhite; 
  --underline: var(--dark);
  --dot-gradient: var(--dark);
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color: var(--dark);
}

ul {
  list-style: none;
  padding: 0;
}

main {
  padding: 0;
}

button { 
  background: transparent;
  text-transform: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  letter-spacing: var(--letter-spacing);
}

.rotate {
  animation: rotate 20s linear infinite; 
}

.stack-content {
  flex-direction: column;
}

.link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  .link-icon {
    width: 40px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.dot-grid {
  &::after {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    content: '';
    height: 48px;
    width: 48px;
    background-image: radial-gradient(var(--dot-gradient) 30%, transparent 40%);
    background-position: 0 0;
    background-size: 6px 6px;
    z-index: 1;
    transition: height 0.25s ease-out;
  }
}

.screen-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: var(--light-gradient);
  color: var(--dark);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

.container-full {
  max-width: 1920px;
  width: calc(100vw - 80px);
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

.underline {
  border-bottom: 1px solid var(--underline);
}

.blurred-image-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(36px);
  -o-filter: blur(36px);
  filter: blur(36px);
  z-index: -1;
  opacity: 0.5;
}

.image-contain {
  object-fit: contain !important;
}

.underline-thick {
  border-bottom: 2px solid var(--underline);
}

.content-section {
  opacity: 0;
  padding: clamp(20px, 2.5vw, 40px) 20px clamp(20px, 2.5vw, 40px) 20px;
  animation: fade-in 0.5s ease-out;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.text-heading {
  font-size: clamp(30px, 3vw, 50px);
  font-weight: bold;
}

.text-subheading {
  font-size: clamp(20px, 1.9vw, 30px);
}

.font-serif {
  font-family: 'Young Serif';
}

.font-small {
  font-size: var(--font-resp-sm);
}

.font-xsmall {
  font-size: var(--font-resp-xs);
}

.spacer { 
  --spacer-value: 40px;
  padding-bottom: var(--spacer-value);
}

.spacer-zero {
  --spacer-value: 0;
  padding-bottom: var(--spacer-value);
}

.spacer-lg {
  --spacer-value: 80px;
  padding-bottom: var(--spacer-value);
}
.spacer-sm {
  --spacer-value: 20px;
  padding-bottom: var(--spacer-value);
 }
